sudo: required
language: go
go:
  -1.16.2

services:
  - docker

before_install:
  - docker build -t harishs92/todo_list_app .

script:
  - docker run harishs92/todoApp go test -v -covermode=count -coverprofile=coverage.out

after_success:
  - docker login -u $DOCKER_ID -p $DOCKER_PASSWORD
  - docker push harishs92/todo_list_app